@use '../utils/variables' as *;

.main-footer {
  background-color: $color-bg-footer;
  color: #666; padding: 40px 0; font-size: 12px;
}

.footer-inner {
  display: flex; justify-content: space-between; align-items: center;
}

.social-icons { display: flex; gap: 10px; }

.social-link {
  width: 24px; height: 24px; border-radius: 50%;
  background-color: #fff; background-size: 105%;
  &:hover { transform: scale(1.2); }
  &:active { transform: scale(0.9); }
}

.icon-rss { background-image: url("/src/assets/images/rss-icon.png"); }
.icon-fb { background-image: url("/src/assets/images/facebook-img.png"); }
.icon-tw { background-image: url("/src/assets/images/twitter.png"); }
.icon-drib { background-image: url("/src/assets/images/dribble.png"); }