@use '../utils/variables' as *;

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 2px;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;

  &-primary {
    background-color: $color-accent; color: #fff;
    &:hover { background-color: $color-accent-hover; }
  }
  &-large { padding: 15px 35px; font-size: 13px; }
}