@use '../utils/mixins' as *;

.header {
  // declare mixins before styles

  @include flex-center;
  background: var(--color-primary);
  color: white;
  padding: 1rem;
  text-align: center;

  h1 {
    font-size: 2rem;
  }
}
