@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.main-nav {
  .desktop-nav {
    display: none;
    @include mq('md') {
      display: block;
    }
  }

  .nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 25px;
  }

  .nav-link {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: $color-text-heading;
    position: relative;
    padding: 5px 0;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: $color-accent;
      transition: width 0.3s;
    }

    &:hover::after {
      width: 100%;
    }

    &:focus {
      outline: 1px dashed $color-text-light;
    }

    &:active {
      color: $color-accent;
    }
  }

  .nav-link-icon {
    display: block;
    width: 30px;
    height: 30px;
    background-color: $color-accent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px 14px;
    border-radius: 2px;
    background-image: url("src/assets/images/like.png");

    &:hover {
      background-color: $color-accent-hover;
      opacity: 0.9;
    }

    &:focus {
      outline: 2px solid $color-accent-hover;
      outline-offset: 2px;
    }

    &:active {
      transform: scale(0.9);
      background-color: #c94444;
    }
  }


  .burger-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  .burger-menu {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 1001;
    background: none;
    border: none;
    padding: 0;

    @include mq('md') {
      display: none;
    }
  }

  .burger-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: 0.3s;

    &::before, &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #333;
      left: 0;
      transition: 0.3s;
    }

    &::before { top: -8px; }
    &::after { top: 8px; }
  }

  .mobile-menu-overlay {
    padding-top: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    z-index: 999;

    visibility: hidden;
    opacity: 0;
    transform: translateY(-20px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: all 0.3s ease;

    @include mq('md') {
      display: none !important;
    }
  }

  #burger-toggle:checked {
    ~ .mobile-menu-overlay {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }

    ~ .burger-menu .burger-line {
      background-color: transparent;
      &::before { top: 0; transform: rotate(45deg); }
      &::after { top: 0; transform: rotate(-45deg); }
    }
  }

  .mobile-list {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    li {
      width: 100%;
      padding: 20px 0;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -250%;
        width: 750%;
        height: 1px;
        background-color: #e0e0e0;
      }
      &:first-child::before {
        content: ''; position: absolute; top: 0; left: -250%; width: 750%; height: 1px; background-color: #e0e0e0;
      }
      &:last-child::after { display: none; }
    }
  }

  .mobile-link {
    font-size: 24px;
    font-family: $font-secondary;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;

    &:active { color: $color-accent; }
  }
}