footer.main-footer
    .container.footer-inner
        p &copy; 2024 Keepsake. All rights reserved. Theme by Gemini.
        .social-icons
            a.social-link.icon.icon-rss(href="#", aria-label="RSS")
            a.social-link.icon.icon-fb(href="#", aria-label="Facebook")
            a.social-link.icon.icon-tw(href="#", aria-label="Twitter")
            a.social-link.icon.icon-drib(href="#", aria-label="Dribbble")