include ../data/data.pug
doctype html
html(lang="en")
    include ../includes/head.pug
    body
        block header
            include ../components/header.pug

        main
            block content

        block footer
            include ../components/footer.pug