-
    var navLinks = ['Home', 'About Us', 'Our Works', 'Journal', 'Contact']

    var portfolioWorks = [
        {img: '/src/assets/images/img1.jfif', title: 'Amanda Seyfried', handle: '@contactaddress'},
        {img: '/src/assets/images/img2.jfif', title: 'Project Two', handle: '@branding'},
        {img: '/src/assets/images/img3.jfif', title: 'Project Three', handle: '@design'},
        {img: '/src/assets/images/img4.jfif', title: 'Project Four', handle: '@web'},
        {img: '/src/assets/images/img5.jfif', title: 'Project Five', handle: '@print'},
        {img: '/src/assets/images/img1.jfif', title: 'Project Six', handle: '@motion'},
        {img: '/src/assets/images/img2.jfif', title: 'Project Seven', handle: '@art'},
        {img: '/src/assets/images/img3.jfif', title: 'Project Eight', handle: '@code'},
        {img: '/src/assets/images/img4.jfif', title: 'Project Nine', handle: '@life'}
    ]

    var services = [
        {icon: 'icon-web', title: 'Web Design', desc: 'Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.'},
        {icon: 'icon-video', title: 'Motion Video', desc: 'Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur.'},
        {icon: 'icon-print', title: 'Print Design', desc: 'Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies.'},
        {icon: 'icon-ill', title: 'Illustration', desc: 'Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem.'}
    ]

    var journal = [
        {img: '/src/assets/images/img2.jfif', meta: 'Oct 12, 2024 / Identity', title: 'Solicitudin Tortor Inceptos', text: 'Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.'},
        {img: '/src/assets/images/img4.jfif', meta: 'Oct 20, 2024 / Branding', title: 'Amet Inceptos Fringilla Fusce', text: 'Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.'},
        {img: '/src/assets/images/img5.jfif', meta: 'Sep 18, 2024 / Identity', title: 'Cursus Malesuada Justo', text: 'Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.'},
        {img: '/src/assets/images/img3.jfif', meta: 'Sep 21, 2024 / Branding', title: 'Ornare Cursus Bibendum Purus', text: 'Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.'}
    ]