@use '../utils/variables' as *;

body {
  font-family: $font-primary;
  background-color: $color-bg-body;
  color: $color-text-main;
  line-height: 1.6;
  font-size: 14px;
  padding-top: $header-height;
}

h1, h2, h3 {
  font-family: $font-secondary;
  color: $color-text-heading;
  font-weight: 700;
  margin-bottom: 1em;
}

.center { text-align: center; }

.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
}